@model IEnumerable<TroyLabs.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<div class="row mb-3 align-items-center">
    <div class="col-md-8 d-flex align-items-center justify-content-start flex-wrap">
        <h2 class="me-3 mb-0" style="color: #e73216;">Students</h2>
        <a asp-action="SignUp" asp-controller="Student" class="btn btn-primary btn-custom" style="margin-left:10px">Add Student</a>
        <a asp-action="Delete" asp-controller="Student" class="btn btn-primary btn-custom" style="margin-left:10px">Delete Student</a>
        <a asp-action="Update" asp-controller="Student" class="btn btn-primary btn-custom" style="margin-left:10px">Update Student</a>
    </div>
</div>

<div class="row mb-3 d-flex align-items-center justify-content-between">
    <!-- Left side: Back button -->
    <div class="col-md-4">
        <button onclick="window.history.back();" class="btn btn-secondary btn-sm">Back</button>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
        <form method="get" action="@Url.Action("Index")" class="d-flex">
            <!-- Input for Student Search -->
            <input type="text" name="searchTerm" class="form-control" placeholder="Search Student..." value="@ViewBag.SearchTerm" style="width: 200px;" />
            <!-- Search Submit Button -->
            <button class="btn btn-outline-secondary ms-2" type="submit" style="width: 80px; white-space: nowrap;">Search</button>
        </form>
    </div>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger mt-2">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Student Number</th>
                        <th>Student Name</th>
                        <th>Class</th>
                        <th>History Records</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model) 
                    {
                        <tr>
                            <td>@student.StudentNumber.ToUpper()</td>
                            <td>@student.StudentName</td>
                            <td>@student.ClassesId</td>
                            <td>
                                <a class="btn btn-outline-custom">View Records</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}